{
  "name": "0-design",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "css-compile/lib/icomoon/fonts.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../1-development/css/lib/icomoon/fonts-min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js-compile/scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../1-development/js/scripts-min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "sass-compile/styles.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../1-development/css/styles-min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass-compile/_styles.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../1-development/css/styles-min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "js-compile/_scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../1-development/js/scripts-min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "index.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../1-development/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "2/sass-compile/_styles.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../1-development/2/css/styles-min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "2/index.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../1-development/2/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "1/index.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../1-development/1/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "2/js-compile/_scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../1-development/2/js/scripts-min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "1/js-compile/_scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"../1-development/1/js/scripts-min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "1/sass-compile/_styles.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../1-development/1/css/styles-min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "css-compile/lib",
      "css-compile/lib/icomoon",
      "css-compile",
      "2",
      "2/js-compile",
      "1",
      "1/js-compile",
      "1/sass-compile"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "js-compile/_scripts.js",
      "imports": [
        "js-compile/elements/_nav.js",
        "js-compile/components/_swiper.js",
        "js-compile/components/_muuri.js"
      ]
    },
    {
      "path": "sass-compile/_styles.sass",
      "imports": [
        "sass-compile/settings/_settings-variables-roots.sass",
        "sass-compile/settings/_settings-variables-fonts.sass",
        "sass-compile/settings/_settings-variables-colors.sass",
        "sass-compile/settings/_settings-variables-spaces.sass",
        "sass-compile/settings/_settings-variables-borders.sass",
        "sass-compile/settings/_settings-variables-media.sass",
        "sass-compile/tools/_tools-width.sass",
        "sass-compile/tools/_tools-spaces.sass",
        "sass-compile/tools/_tools-clearfix.sass",
        "sass-compile/tools/_tools-position.sass",
        "sass-compile/tools/_tools-list.sass",
        "sass-compile/tools/_tools-button.sass",
        "sass-compile/tools/_tools-border.sass",
        "sass-compile/tools/_tools-image.sass",
        "sass-compile/tools/_tools-prefix-flexBox.sass",
        "sass-compile/tools/_tools-prefix-transform.sass",
        "sass-compile/tools/_tools-prefix-transition.sass",
        "sass-compile/tools/_tools-prefix-keyframes.sass",
        "sass-compile/tools/_tools-prefix-animation.sass",
        "sass-compile/generics/_generics-reset-ericmeyer.scss",
        "sass-compile/generics/_generics-reset-normalize.scss",
        "sass-compile/generics/_generics-reset-personal.sass",
        "sass-compile/elements/_elements-font.sass",
        "sass-compile/elements/_elements-list.sass",
        "sass-compile/elements/_elements-form.sass",
        "sass-compile/elements/_elements-header.sass",
        "sass-compile/elements/_elements-main.sass",
        "sass-compile/elements/_elements-aside.sass",
        "sass-compile/elements/_elements-footer.sass",
        "sass-compile/media/_media-print.sass",
        "sass-compile/media/_media-width.sass",
        "sass-compile/animations/_animations-keyframes.sass",
        "sass-compile/objects/_objects-inner.sass",
        "sass-compile/components/_components-logo.sass",
        "sass-compile/components/_components-title.sass",
        "sass-compile/components/_components-list.sass",
        "sass-compile/components/_components-social-media.sass",
        "sass-compile/components/_components-button.sass",
        "sass-compile/components/_components-swiper.sass",
        "sass-compile/components/_components-muuri.sass",
        "sass-compile/components/_components-slider.sass",
        "sass-compile/components/_components-portfolio.sass",
        "sass-compile/components/_components-about.sass",
        "sass-compile/components/_components-blog.sass",
        "sass-compile/components/_components-shop.sass",
        "sass-compile/components/_components-aside.sass",
        "sass-compile/components/_components-footer-nav.sass",
        "sass-compile/components/_components-footer-copyright.sass",
        "sass-compile/utilities/_utilities-form.sass"
      ]
    },
    {
      "path": "1/sass-compile/_styles.sass",
      "imports": [
        "1/sass-compile/settings/_settings-variables-roots.sass",
        "1/sass-compile/settings/_settings-variables-fonts.sass",
        "1/sass-compile/settings/_settings-variables-colors.sass",
        "1/sass-compile/settings/_settings-variables-spaces.sass",
        "1/sass-compile/settings/_settings-variables-borders.sass",
        "1/sass-compile/settings/_settings-variables-media.sass",
        "1/sass-compile/tools/_tools-width.sass",
        "1/sass-compile/tools/_tools-spaces.sass",
        "1/sass-compile/tools/_tools-clearfix.sass",
        "1/sass-compile/tools/_tools-position.sass",
        "1/sass-compile/tools/_tools-list.sass",
        "1/sass-compile/tools/_tools-button.sass",
        "1/sass-compile/tools/_tools-border.sass",
        "1/sass-compile/tools/_tools-image.sass",
        "1/sass-compile/tools/_tools-prefix-flexBox.sass",
        "1/sass-compile/tools/_tools-prefix-transform.sass",
        "1/sass-compile/tools/_tools-prefix-transition.sass",
        "1/sass-compile/tools/_tools-prefix-keyframes.sass",
        "1/sass-compile/tools/_tools-prefix-animation.sass",
        "1/sass-compile/generics/_generics-reset-ericmeyer.scss",
        "1/sass-compile/generics/_generics-reset-normalize.scss",
        "1/sass-compile/generics/_generics-reset-personal.sass",
        "1/sass-compile/elements/_elements-font.sass",
        "1/sass-compile/elements/_elements-list.sass",
        "1/sass-compile/elements/_elements-form.sass",
        "1/sass-compile/elements/_elements-header.sass",
        "1/sass-compile/elements/_elements-main.sass",
        "1/sass-compile/elements/_elements-aside.sass",
        "1/sass-compile/elements/_elements-footer.sass",
        "1/sass-compile/media/_media-print.sass",
        "1/sass-compile/media/_media-width.sass",
        "1/sass-compile/animations/_animations-keyframes.sass",
        "1/sass-compile/objects/_objects-inner.sass",
        "1/sass-compile/components/_components-logo.sass",
        "1/sass-compile/components/_components-title.sass",
        "1/sass-compile/components/_components-list.sass",
        "1/sass-compile/components/_components-social-media.sass",
        "1/sass-compile/components/_components-button.sass",
        "1/sass-compile/components/_components-swiper.sass",
        "1/sass-compile/components/_components-muuri.sass",
        "1/sass-compile/components/_components-slider.sass",
        "1/sass-compile/components/_components-portfolio.sass",
        "1/sass-compile/components/_components-about.sass",
        "1/sass-compile/components/_components-blog.sass",
        "1/sass-compile/components/_components-shop.sass",
        "1/sass-compile/components/_components-aside.sass",
        "1/sass-compile/components/_components-footer-nav.sass",
        "1/sass-compile/components/_components-footer-copyright.sass",
        "1/sass-compile/utilities/_utilities-form.sass",
        "1/sass-compile/utilities/_utilities-button.sass"
      ]
    },
    {
      "path": "2/sass-compile/_styles.sass",
      "imports": [
        "2/sass-compile/settings/_settings-variables-roots.sass",
        "2/sass-compile/settings/_settings-variables-fonts.sass",
        "2/sass-compile/settings/_settings-variables-colors.sass",
        "2/sass-compile/settings/_settings-variables-spaces.sass",
        "2/sass-compile/settings/_settings-variables-borders.sass",
        "2/sass-compile/settings/_settings-variables-media.sass",
        "2/sass-compile/tools/_tools-width.sass",
        "2/sass-compile/tools/_tools-spaces.sass",
        "2/sass-compile/tools/_tools-clearfix.sass",
        "2/sass-compile/tools/_tools-position.sass",
        "2/sass-compile/tools/_tools-list.sass",
        "2/sass-compile/tools/_tools-button.sass",
        "2/sass-compile/tools/_tools-border.sass",
        "2/sass-compile/tools/_tools-image.sass",
        "2/sass-compile/tools/_tools-prefix-flexBox.sass",
        "2/sass-compile/tools/_tools-prefix-transform.sass",
        "2/sass-compile/tools/_tools-prefix-transition.sass",
        "2/sass-compile/tools/_tools-prefix-keyframes.sass",
        "2/sass-compile/tools/_tools-prefix-animation.sass",
        "2/sass-compile/generics/_generics-reset-ericmeyer.scss",
        "2/sass-compile/generics/_generics-reset-normalize.scss",
        "2/sass-compile/generics/_generics-reset-personal.sass",
        "2/sass-compile/elements/_elements-font.sass",
        "2/sass-compile/elements/_elements-list.sass",
        "2/sass-compile/elements/_elements-form.sass",
        "2/sass-compile/elements/_elements-header.sass",
        "2/sass-compile/elements/_elements-main.sass",
        "2/sass-compile/elements/_elements-aside.sass",
        "2/sass-compile/elements/_elements-footer.sass",
        "2/sass-compile/media/_media-print.sass",
        "2/sass-compile/media/_media-width.sass",
        "2/sass-compile/animations/_animations-keyframes.sass",
        "2/sass-compile/objects/_objects-inner.sass",
        "2/sass-compile/components/_components-logo.sass",
        "2/sass-compile/components/_components-title.sass",
        "2/sass-compile/components/_components-list.sass",
        "2/sass-compile/components/_components-social-media.sass",
        "2/sass-compile/components/_components-button.sass",
        "2/sass-compile/components/_components-swiper.sass",
        "2/sass-compile/components/_components-muuri.sass",
        "2/sass-compile/components/_components-slider.sass",
        "2/sass-compile/components/_components-portfolio.sass",
        "2/sass-compile/components/_components-about.sass",
        "2/sass-compile/components/_components-blog.sass",
        "2/sass-compile/components/_components-shop.sass",
        "2/sass-compile/components/_components-aside.sass",
        "2/sass-compile/components/_components-footer-nav.sass",
        "2/sass-compile/components/_components-footer-copyright.sass",
        "2/sass-compile/utilities/_utilities-form.sass"
      ]
    },
    {
      "path": "2/js-compile/_scripts.js",
      "imports": [
        "2/js-compile/elements/_nav.js",
        "2/js-compile/components/_swiper.js",
        "2/js-compile/components/_muuri.js",
        "2/js-compile/components/_portfolio.js"
      ]
    },
    {
      "path": "1/js-compile/_scripts.js",
      "imports": [
        "1/js-compile/elements/_nav.js",
        "1/js-compile/components/_swiper.js",
        "1/js-compile/components/_muuri.js",
        "1/js-compile/components/_portfolio.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}